<!DOCTYPE html>
<html>
<head>
	<title>{{pointer}}</title>

	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

	<!-- CSS Reset -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

	<!-- Milligram CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

	<!-- You should properly set the path from the main file. -->
</head>
<body>
	{% if public %}
	<p>This is an official public document published by Choate Rosemary Hall's Student Council. For inquiries, feel free to contact example@example.com.</p>
	{% endif %}
	<hr>

	{% for element in html_tree %}
	{{ element | safe }}{% endfor %}

	<a href={{webViewLink}}>Comment or give suggestions on this page</a>
</body>
</html>
